<div class="row site-header">
  <div class="col-xs-2 logo">logo w/ animation</div>
    <div class="col-xs-7 story-small">
      <div ng-if="user.unreadMessages">
        <i ng-if="user.unreadMessages.length>0" class="glyphicon glyphicon-envelope"></i>
         ({{user.messages.length}}) unread messages
      </div>
      <div ng-if="user.messages">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        ({{user.unreadMessages.length}}) total messages
      </div>
    </div>
    <div class="col-xs-3">
      <div class="user-actions-bar"><i class="glyphicon glyphicon-user"></i></div>
      <div ng-if="user.rating">
        <i class="glyphicon glyphicon-star"></i>
        <i class="glyphicon" ng-class="user.rating>=2?'glyphicon-star':'glyphicon-star-empty'"></i>
        <i class="glyphicon" ng-class="user.rating>=3?'glyphicon-star':'glyphicon-star-empty'"></i>
        <i class="glyphicon" ng-class="user.rating>=4?'glyphicon-star':'glyphicon-star-empty'"></i>
        <i class="glyphicon" ng-class="user.rating>=5?'glyphicon-star':'glyphicon-star-empty'"></i>
      </div>
    </div>
  </div>
</div>

<div ui-view class="content tutor-content"></div>

<div class="footer">
 Copyright: 2016 BuzAnt&copy;
</div>